<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reply">

	<select id="readReply" resultType="kr.co.vo.ReplyVO">
		SELECT rno
			 , content
			 , writer
			 , regdate
		FROM MP_REPLY
		WHERE bno = #{bno}
	</select>
	
	<insert id="writeReply">
		INSERT INTO MP_REPLY (
			bno
			, rno
			, content
			, writer
		) VALUES (
			#{bno}
			, MP_REPLY_SEQ.NEXTVAL
			, #{content}
			, #{writer}
		)
	</insert>
	
	<update id="updateReply" parameterType="kr.co.vo.ReplyVO">
		UPDATE MP_REPLY SET
			content = #{content}
		WHERE rno = #{rno}
	</update>
	
	<delete id="deleteReply" parameterType="kr.co.vo.ReplyVO">
		DELETE
		FROM MP_REPLY
		WHERE rno = #{rno}
	</delete>
	
	<select id="selectReply" resultType="kr.co.vo.ReplyVO">
		SELECT bno
			 , rno
			 , content
			 , writer
			 , regdate
		FROM MP_REPLY
		WHERE rno = #{rno}
	</select>

</mapper>